<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/general :: headerfiles"></div>
    <title>Recados, el Twitter murciano</title>
</head>
<body>
    <div class="container">
        <div th:replace="~{fragments/general :: navbar}">
            menú
        </div>
        <h1>Recados, el Twitter murciano</h1>

        <p th:text="*{saludo}" sec:authorize="isAuthenticated()">Lo que sea</p>

        <div class="col col-8">
            <div class="row" sec:authorize="isAuthenticated()">
                <form action="" method="post" enctype="multipart/form-data"  th:action="@{/}" th:object="${recado}">
                    <div class="mb-3" >
                        <label for="exampleFormControlTextarea1" class="form-label">Recado</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="recado" rows="3" th:field="*{contenido}"></textarea>
                        <button type="submit" class="btn btn-primary pull-right" style="float:right">Mandar recado</button>

                    </div>
                </form>
            </div>

            <div th:each="recado : ${listaRecados}" class="row border-bottom border-primary my-3">
                <div class="row">
                    <div class="col col-2">
                        <a th:name=${recado.id}><img class="img-thumbnail rounded-circle" th:src="*{recado.autor.avatar}"/></a>
                    </div>
                    <div class="col col-10">
                        <p style="font-size: 12px;"><span th:text="${recado.autor.nombre}" style="font-weight: bold;">Autor</span> - <span th:text="${#dates.format(recado.fecha, 'dd-MM-yyyy HH:mm')}">Fecha</span></p>
                        <p th:text="${recado.contenido}">Tweet</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col align-self-end">
                        <a th:href="@{'/megusta/' + ${recado.id}}" class="btn border-0 pull-right" style="float:right"><span th:text="${recado.numMeGusta}"></span> <span th:text="${recado.meGustaActual} ? @{&#10084;&#65039;} : @{&#x1F90D;}"></span></a>
                        <button class="btn border-0 pull-right" style="float:right">🔁</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>